<h1>Listing clubs</h1>

<table>
  <thead>
    <tr>
      <th>City abr</th>
      <th>City</th>
      <th>Name</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Ties</th>
      <th>Win percentage</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.city_abr %></td>
        <td><%= club.city %></td>
        <td><%= club.name %></td>
        <td><%= club.wins %></td>
        <td><%= club.losses %></td>
        <td><%= club.ties %></td>
        <td><%= club.win_percentage %></td>
        <td><%= link_to 'Show', club %></td>
        <td><%= link_to 'Edit', edit_club_path(club) %></td>
        <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Club', new_club_path %>
