%tr{:class => 'playerRow', :'data-name' => p.name}
	%td #{p.rank1}
	%td 
		= (p.rank2/16).ceil
	%td #{p.name}
	%td  #{p.position} - #{p.pos_rank}
	%td{:class => 'prBox centerText seasonPoints'} #{p.rank3}
	%td{:class => 'wklyPoints centerText'} #{p.wkly_points.ceil}

	%td{:class => 'info-btn'}
		- if p.value == "Under"
			%button{:class => "btn btn-xs btn-info vBtn"} Value
		- elsif p.value == "Right"
			%button{:class => "btn btn-xs btn-success vBtn"} Right
		- elsif p.value == "Over"
			%button{:class => "btn btn-xs btn-warning vBtn"} Over
		- elsif p.value == "Over x2"
			%button{:class => "btn btn-xs btn-danger vBtn"} Over+
		- elsif p.value == "Extreme Over"
			%button{:class => "btn btn-xs btn-danger vBtn"} Extreme
		