%div{:class => 'col-md-4'}
	%table{:class => 'table table-striped table-condensed col-md-3'}
		%tr
			%th{:class => 'tBox1'} Ovrl.
			%th{:class => 'tBox1'} ADR
			%th{:class => 'nBox'} Name
			%th{:class => 'tBox2'} Pos -Rnk
			%th{:class => 'tBox2 pPoints centerText seasonPoints'} Points
			%th{:class => 'tBox2 pPoints centerText wklyPoints'} Points
			%th
		- @players1.each do |p|
			- @adr = (p.rank2/16).ceil
			- if @roundNum 
				- if (@roundNum - @adr) > 1
					= render :partial => 'shared/playerRowHighlight', :locals => {:p => p, :adr => @adr }
				- elsif @adr <= @roundNum
					= render :partial => 'shared/playerRowSuccess', :locals => {:p => p, :adr => @adr }
				- else
					= render :partial => 'shared/playerRow', :locals => {:p => p, :adr => @adr }
			- else
				= render :partial => 'shared/playerRow', :locals => {:p => p, :adr => @adr }
%div{:class => 'col-md-4'}
	%table{:class => 'table table-striped table-condensed col-md-3'}
		%tr
			%th{:class => 'tBox1'} Ovrl.
			%th{:class => 'tBox1'} ADR
			%th{:class => 'nBox'} Name
			%th{:class => 'tBox2'} Pos -Rnk
			%th{:class => 'tBox2 pPoints centerText seasonPoints'} Points
			%th{:class => 'tBox2 pPoints centerText wklyPoints'} Points
			%th
		- @players2.each do |p|
			- @adr = (p.rank2/16).ceil
			- if (@roundNum - @adr)  > 1
				= render :partial => 'shared/playerRowHighlight', :locals => {:p => p, :adr => @adr }
			- elsif @adr <= @roundNum
				= render :partial => 'shared/playerRowSuccess', :locals => {:p => p, :adr => @adr }
			- else
				= render :partial => 'shared/playerRow', :locals => {:p => p, :adr => @adr }
%div{:class => 'col-md-4'}
	%table{:class => 'table table-striped table-condensed col-md-3'}
		%tr
			%th{:class => 'tBox1'} Ovrl.
			%th{:class => 'tBox1'} ADR
			%th{:class => 'nBox'} Name
			%th{:class => 'tBox2'} Pos -Rnk
			%th{:class => 'tBox2 pPoints centerText seasonPoints'} Points
			%th{:class => 'tBox2 pPoints centerText wklyPoints'} Points
			%th
		- @players3.each do |p|
			- @adr = (p.rank2/16).ceil
			- if (@roundNum - @adr)  > 1
				= render :partial => 'shared/playerRowHighlight', :locals => {:p => p, :adr => @adr }
			- elsif @adr <= @roundNum
				= render :partial => 'shared/playerRowSuccess', :locals => {:p => p, :adr => @adr }
			- else
				= render :partial => 'shared/playerRow', :locals => {:p => p, :adr => @adr }
